name: Test
on: push
defaults:
    run:
        shell: bash
jobs:
  test:
    runs-on: windows-2022
    steps:
      - name: Clone repository
        uses: actions/checkout@v4.1.1
        with:
          fetch-depth: 0
      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
      - name: Restore dependencies
        run: dotnet restore
      - name: Test
        run: dotnet test --verbosity normal -c Release
